.button{
  background-color: #E74C18;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover{
  background-color: #e05020 ;
  color: #222121;
}