.container{
  background-color: #faac92;
  max-width: 550px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  z-index: 50;
  right:0;
  top: 100px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.322);
 
}

.container h3{
  color: #E74C18 ;
}