.container{
display: flex;
flex-direction: column;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
position: relative;
transition: .3s;
margin-bottom: 100px;
margin-top: 50px;
height: 550px;
position: relative;
border-radius: 3px;
}



.container:hover{
  transform: scale(1.01);
  transition: .3s;
}

.livroImg{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
background: url('../img/livro.jpg') no-repeat;
background-position: center ;
background-size:  cover;
height: 300px;
border-radius: 3px 3px 0 0;

}

.livroImg span:first-child{
  color: white;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.945);
  text-align: center;
  color: green;
  font-weight: bold;
  border-radius: 3px;
}

.livroImg span:last-child{
  background-color: rgba(0, 0, 0, 0.842);
  color: green;
  font-weight: bold;
  border-radius: 5px;
  align-self: flex-end;
  padding: 10px;
}

.conteudo{
  background-color: #f16536;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  border-radius: 0 0 3px 3px;
}

.conteudo h3{
  color: rgb(24, 22, 22);
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: white;
}

.conteudo p{
  color: rgb(32, 32, 32)
}

.conteudo span{
  font-weight: bold;
  color: black
}

