.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  font-size: 1.2rem;
}

.nav li {
  cursor: pointer;
}



.nav li a{
padding:  20px;
font-weight: bold;
color: white;

}

.nav li a:hover{
  color: #000;
  border-bottom: solid 2px rgb(255, 255, 255);
  transition: .3s;
}

@media (max-width:590px){

  .nav{
    flex-wrap: wrap;
   
  }
}