.container{
  background-color:#EC7046 ;
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px 40px;
  margin-bottom: 60px;
  border-radius: 3px;
  box-shadow: inset 268px 0px 0px 0px #E74C18 ;
  position: relative;
}

.content{
display: flex;

}


.livro h3 {
  color: white;
}

.livro img{
  width: 200px;
}

.infos{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.infos span{
  text-decoration:line-through;
  color: rgb(78, 78, 78);
  font-size: 2rem;
}

.infos p{
  font-size: 2.5rem;
  color: rgb(10, 75, 10);
  font-weight: bold;
}

.infos button {
 margin-top: 50px;
}

