@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');


body,h1,p,h2,ul,li,h3{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 100%;
}

.destaque{
  max-width: 1400px;
  margin: 0 auto;
}

.livros{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
}

